<html>
  <head>
    <!doctype html>
    <title>Strike Watch</title>
    <style>
      body { text-align: center; padding: 100px; }
      h1 { font-size: 40px; }
      body { font: 20px Helvetica, sans-serif; color: #333; }
      article { display: block; text-align: left; width: 700px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>
  </head>
  <body>
    <article>
      <h1>Keep up to date on strikes</h1>
      <div style="margin-bottom: 1rem; font-weight: 1000"> Hello, </div>
      <div>This site isn't ready yet. It was born here: <a href="https://www.reddit.com/r/socialism/comments/9hgxt0/we_stand_with_you/">Reddit Post</a></div>
      <div>TBA by <a href="http://reddit.com/u/InsidiousMind15">/u/InsidiousMind15</a></div>
      <div>For more information, or if you want to help out, email <a href="mailto:insidious@protonmail.ch">insidious</a> or message me on Reddit</div>
      <div> Project Source: <a href="https://github.com/InsidiousMind/strikewatch">Github</a></div>
    </article>
  </body>
</html>
